.basicButton {
  transition: all ease 0.3s;
  padding: 12px 16px;
  background: rgb(36, 36, 36);
  border-radius: 12px;
  color: #fffefe;
  border: solid #fffefe 1px;
  cursor: pointer;
  font-size: large;

  &:hover {
    color: var(--app-highlightColor);
    border: solid var(--app-highlightColor) 1px;
  }
}
