.privacyTag{
  padding: 4px 12px;
  color: var(--app-highlightColor);
  border: solid 2px var(--app-highlightColor);
  // color: #47BA79;
  // border: solid 2px #47BA79;
  width: fit-content;
  border-radius: 15px;
  &:hover{
    cursor: pointer;
  }
}