.artistModal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;

  .header {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__title {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: left;
      align-self: flex-end;
      color: var(--app-highlightColor);
      font-size: 26px;
    }

    &__songCount {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: left;
      align-self: flex-start;
    }

    &__image {
      grid-column: 2/3;
      grid-row: 1/3;
      justify-self: right;
      align-self: center;
      display: grid;
      width: 120px;
      height: 120px;
      border-radius: 12px;
      overflow: hidden;

      .artistPlaceholder {
        display: grid;
        justify-items: center;
        align-items: center;
        color: var(--app-highlightColor);
        width: 100%;
        height: 100%;
        background-color: #3a3a3a;
      }

      img {
        width: 100%;
        height: 100%;
        justify-self: center;
        align-self: center;
      }
    }
  }

  .songList {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    padding-right: 15px;
    font-size: 17px;
  }

  .song {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 10px;

    &__title {
      flex-grow: 1;
    }
  }
}
