.profilePicPlaceholder {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #242424;
  color: var(--app-highlightColor);
  border-radius: 50%;
}
