.signupForm {
  h2 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    color: var(--app-highlightColor);
    border-bottom: solid 1px var(--app-highlightColor);
  }
  form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    .formInput {
      justify-self: left;
      margin-bottom: 10px;
    }

    .basicButton {
      justify-self: right;
      margin-top: 10px;
    }
  }
}
