.errorPage {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  color: #fffefe;
  text-align: center;

  .container {
    transform: translateY(-50%);
    width: 100%;
    padding: 50px 60px;
    background-color: black;
  }

  h1 {
    color: var(--app-highlightColor);
  }
  p {
    font-size: larger;
  }
}
