.player__container{
  position: sticky;
  bottom: 60px;
  left: 0px;
  transition: all ease .3s;
  z-index: 5;
  // overflow: hidden;
  .player {
    ._SliderRSWP{
      div div:nth-child(2){
        transform: scale(0);
      }
    }
  }

  .collapseBtn{
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 8px;
    left: 15px;
    color: #02CBE5;
    transition: all ease .3s;
  }
}