.player__container{
  position: sticky;
  bottom: 60px;
  left: 0px;
  transition: all ease .3s;
  z-index: 6;
  // overflow: hidden;
  .player {
    ._SliderRSWP{
      div div:nth-child(2){
        transform: scale(0);
      }
    }

    ._DevicesRSWP{
      div{
        background-color: #1B1A1B;
        border-radius: 12px;
      }
    }
  }

  .collapseBtn{
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 8px;
    left: 15px;
    color: var(--app-highlightColor);
    transition: all ease .3s;
  }
}