.logoutBtn{
  padding: 4px 12px;
  color: rgb(0, 203, 230);
  border: solid 2px rgb(0, 203, 230);
  width: fit-content;
  border-radius: 15px;
  transform: translateY(15px);
  &:hover{
    cursor: pointer;
  }
}