.logoutBtn {
  padding: 4px 12px;
  color: var(--app-highlightColor);
  border: solid 2px var(--app-highlightColor);
  width: fit-content;
  border-radius: 15px;
  transform: translateY(15px);
  &:hover {
    cursor: pointer;
  }
}
