.profileBanner{
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position:relative;

  display: flex;
  align-items: center;
  
  .discIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--app-highlightColor);
    z-index: -1;
    animation: fadeIn ease 120s infinite;
  }

  @keyframes fadeIn {
    0%{
      opacity: 0%;
    }
    95%{
      opacity: 0%;
    }
    97.5%{
      opacity: 100%;
    }
    100%{
      opacity: 0%;
    }
  }
}