.scrollableSongListItem {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  align-items: center;
  margin: 10px 0px;
  cursor: pointer;
  // width: 100%;

  &-Title {
    flex-grow: 1;
  }
  transition: all 0.3s ease;
}

.activeSong {
  color: var(--app-highlightColor);
}

.explicitTag {
  color: #cecece;
  transform: translateY(2px);
  margin-right: 3px;
}
