.basicButton{
  transition: all ease .3s;
  padding: 12px 16px;
  background: rgb(36, 36, 36);
  border-radius: 12px;
  color: #FFFEFE;
  border: solid #FFFEFE 1px;
  cursor: pointer;
  font-size: large;

  &:hover{
    color: rgb(0, 203, 230);
    border: solid rgb(0, 203, 230) 1px;
  }
}