.availableWidgetList{
  &__title{
    text-align: center;
    border-bottom: solid 1px #FFFEFE;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  &__list{
    // margin-left: 50px;
    li{
      font-size: large;
      margin-block: 10px;
    }
  }
}